# التعامل مع الإجازات و إختلاف التقويم

In [1]:
import pandas as pd
%matplotlib inline
data = pd.read_csv('../grid.csv')
data.head()

     Open    High     Low   Close    Volume
0  154.00  154.24  153.31  153.61  21895020
1  153.42  154.43  153.33  153.67  20118620
2  153.97  154.17  152.38  152.76  24452750
3  153.17  153.33  152.22  153.18  16383610
4  153.58  155.45  152.89  155.45  27715140

In [2]:
rng = pd.date_range(start="7/1/2017", end="7/21/2017", freq='B')
rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

# Business frequency: فقط سوف تتعامل مع ايام الإجازات الاسبوعيه و ليس مع ايام الإجازات الرسمية كما هو موضح في المثال اعلاه

In [3]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

US = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017", end="7/30/2017", freq=US)

rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28'],
              dtype='datetime64[ns]', freq='C')

In [19]:
rng = pd.date_range(start='2017-05-25', end='2018-05-27', freq= US)

In [20]:
data.set_index(rng, inplace = True)

data.head()

              Open    High     Low   Close    Volume
2017-05-25  154.00  154.24  153.31  153.61  21895020
2017-05-26  153.42  154.43  153.33  153.67  20118620
2017-05-30  153.97  154.17  152.38  152.76  24452750
2017-05-31  153.17  153.33  152.22  153.18  16383610
2017-06-01  153.58  155.45  152.89  155.45  27715140

## USFederalHolidayCalendar: هو التقويم الوحيد الموجود في بانداس 
##    كيف نحل المشكلة لو كان لدينا بيانات من دولة اخرة و نحتاج ان نتعامل مع تقويم آخر

### مصر السعودية اليمن و كثير من الدول العربية الإجازة الاسبوعية هي يومي الجمعة و السبت على غير الكثير من الدول الاخرى حيث الاجازة تكون يوم السبت و الاحد

### ايام العمل = الاحد الاثنين الثلاثاء الاربعاء و الخميس

In [21]:
Arabic_weekmask = 'Sun Mon Tue Wed Thu'

arab_week = CustomBusinessDay(weekmask = Arabic_weekmask)

In [22]:
rng = pd.date_range(start='2017-05-25', end='2018-05-27', freq= arab_week)
rng

DatetimeIndex(['2017-05-25', '2017-05-28', '2017-05-29', '2017-05-30',
               '2017-05-31', '2017-06-01', '2017-06-04', '2017-06-05',
               '2017-06-06', '2017-06-07',
               ...
               '2018-05-14', '2018-05-15', '2018-05-16', '2018-05-17',
               '2018-05-20', '2018-05-21', '2018-05-22', '2018-05-23',
               '2018-05-24', '2018-05-27'],
              dtype='datetime64[ns]', length=262, freq='C')