In [4]:
import pandas as pd 
%matplotlib inline
data = pd.read_excel('../grid.xls', parse_dates = ['Date'], index_col = "Date")

data.head()

              Open    High     Low   Close    Volume
Date
2017-05-26  154.00  154.24  153.31  153.61  21895020
2017-05-30  153.42  154.43  153.33  153.67  20118620
2017-05-31  153.97  154.17  152.38  152.76  24452750
2017-06-01  153.17  153.33  152.22  153.18  16383610
2017-06-02  153.58  155.45  152.89  155.45  27715140